<h1><%= @cosmetic.user.username %>'s Cosmetic</h1>

<p><%= @cosmetic.name %></p>
<p><%= @cosmetic.brand %></p>

<% if @cosmetic.user_id == session[:user_id] %>
<form action="/cosmetics/<%=@cosmetic.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<a href="/cosmetics/<%=@cosmetic.id%>/edit">Edit this product</a>
<%end%>
<br><br>
<a href="/cosmetics/new">Add a new product to your list</a><br>
<a href="/users/<%=@user.id%>">See all your products</a><br><br>
<a href="/users">See all Cosmetics users</a><br>
<a href="/logout">Log out</a>