<h1><%= @user.username %>'s Cosmetics</h1>

<p><%= @cosmetic.name %></p>
<p><%= @cosmetic.brand %></p>

<% if @cosmetic.user_id == session[:user_id] %>
<form action="/cosmetics/<%=@cosmetic.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<a href="/cosmetics/<%=@cosmetic.id%>/edit">Edit this product</a>
<%end%>

<a href="/cosmetics">See all your Cosmetic products</a>